<div class="container">
    <h5>Upload de arquivos</h5>
    <div class="custom-file">
        <input multiple (change)="onChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01" id="customFileLabel">Choose file</label>
    </div>
    <div class="progress" style="margin-top: 10px;">
        <div class="progress-bar" role="progressbar" [style.width]="progress+'%'" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">{{progress+"%"}}</div>
    </div>
    <button style="margin-top: 10px;" type="button" class="btn btn-primary" (click)="onUpload()"
        [disabled]="!files">Upload</button>
</div>