<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    Angular
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
          DataBinding
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/interpolation']">Interpolation</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/event-binding']">EventBinding</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/property-binding']">Property Binding</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/style-binding']">Style Binding</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/class-binding']">Class Binding</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/two-way-data-binding']">Two Way Data Binding</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/input-property']">Input Property</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/output-property']">Events with Output Property</a>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/view-child']">View child</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['data-binding/two-way-data-binding']">Exercício 1</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
          Forms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['forms/template-driven']">Template Drive</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
          Diretivas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['directives/ngswitch']">ngSwitch</a>
          <a class="dropdown-item" href="#" [routerLink]="['directives/ngclass']">ngClass</a>
          <a class="dropdown-item" href="#" [routerLink]="['directives/ngstyle']">ngStyle</a>
          <a class="dropdown-item" href="#" [routerLink]="['directives/ngcontent']">ngContent</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
          Pipes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['pipes/usando-pipes']">Usando Pipes</a>
          <a class="dropdown-item" href="#" [routerLink]="['pipes/pipe-customizado']">Pipe customizado</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
<div style="margin-top: 70px;">
<router-outlet></router-outlet>
</div>